<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-class="chooseBodyClass()">
    @{ Html.RenderPartial("_Menu");}
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/angular")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
